
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Pèmèt sèlman itilizatè ki konekte yo li ak ekri
    match /{allPaths=**} {
      allow read, write: if request.auth != null;
    }

    // Règ espesifik pou foto pwofil (logos)
    // Sèlman itilizatè a ka ekri pwòp logo li
    match /logos/{userId}/{allPaths=**} {
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // Règ espesifik pou foto pwodwi
    // Sèlman itilizatè a ka ekri foto pou pwodwi li yo
    match /products/{userId}/{allPaths=**} {
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Règ espesifik pou foto demand
    // Sèlman itilizatè a ka ekri foto pou demand li yo
    match /requests/{userId}/{allPaths=**} {
        allow write: if request.auth != null && request.auth.uid == userId;
    }

    // Tout moun ka li tout imaj, paske yo piblik
    match /{allPaths=**} {
      allow read;
    }
  }
}

    