
rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Allow reads for all files by anyone (e.g. product images)
    match /{allPaths=**} {
      allow read: if true;
    }
    
    // Allow writes (uploads) only for authenticated users.
    // We restrict to a path that includes the user's ID.
    // This ensures users can only upload to their own 'folder'.
    match /logos/{userId}/{allPaths=**} {
        allow write: if request.auth != null && request.auth.uid == userId;
    }
    match /products/{userId}/{allPaths=**} {
        allow write: if request.auth != null && request.auth.uid == userId;
    }
     match /requests/{userId}/{allPaths=**} {
        allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
